@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html {
  font-size: 62.5%;
  font-family: "Nunito", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
}

body {
  font-size: clamp(0.8rem, 5vw, 1.5rem);
  color: var(--theme-main-color);
}

button {
  cursor: pointer;
  font-family: inherit;
}

input {
  font-family: inherit;
}

a {
  text-decoration: none;
}
